.container
{
	width: 88%;
	margin: auto;
	overflow: hidden;
}
header #branding
{
	float: left;
}
header #branding h1
{
	margin: 0;
}
header
{
	min-height: 50px;
	background-color: #333344;
	color: white;
	border-bottom: black 4px solid;
}
header a
{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
header ul
{
margin: 0;
padding: 0;

}
header li
{
    float: left;	
	display: inline;
	padding: 0 20px 0 20px;
}
header nav
{
	padding-top: 15px;
	float: right;
	padding-right: 10px;
}