*
{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.intro
{
padding-top: 10px;
min-height: 1100px;
min-width: 100%;
background: url(home.jpg);
background-size: cover;
padding-bottom: 20px;
}
.intro p 
{
	text-align: center;
	font-size: 40px;
	padding-top: 400px;
	padding-left: 50px;
	color: white;
}
footer
{
	padding-top: 10px;
	padding-bottom: 130px;
	text-align: center;
	min-height: 100px;
	min-width: 100%;
	background-color: black;
	color: white;
}

@media(max-width: 768px)
{
header #branding,
header nav,
header nav li
{
	float: none;
	text-align: center;
	width:100%;
}
header
{
	padding-bottom:20px;
}
.intro
{
	text-align: center;
	width: 100%;
}

}

