.reghome
{
	display: flex;
	justify-content: center;
	background-color: grey;
	height: 760px;
	width: 100%;
}
.regcontent
{
	padding-top: 10px;
	padding-bottom: 560px;
	text-align: center;
	background-color: #33FFB8;
	width: 50%;
	height: 100px;
}
button
{
	width: 40%;
}
.date
{
	width: 40px;
}
.Year
{
	width: 40px;
}
.down
{
	padding-top: 50px;
}

