*
{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.intro
{
padding-top: 10px;
min-height: 1100px;
min-width: 100%;
background: url(home.jpg);
background-size: cover;
padding-bottom: 20px;
}
.intro p 
{
	text-align: center;
	font-size: 40px;
	padding-top: 400px;
	padding-left: 50px;
	color: white;
}
.content
{
	min-height: 760px;
	min-width: 100%;
	background: url(musician-wallpapers-30495-8566803.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 80px;
	color: white;
    padding-bottom: 10px;
    padding-top: 290px;
    padding-left: 400px;
    font-size: 40px;
}
footer
{
	padding-top: 10px;
	padding-bottom: 130px;
	text-align: center;
	min-height: 100px;
	min-width: 100%;
	background-color: black;
	color: white;
}

@media(max-width: 768px)
{
header #branding,
header nav,
header nav li
{
	float: none;
	text-align: center;
	width:100%;
}
}
header
{
	padding-bottom:20px;
}
