.*
{
	padding: 0px;
	margin: 0px;
}
.tracks
{
	background-color:#2c2c2d;
	height: 350px;
	width: 100%;
	color: white;
}

.row
{
	padding-left: 70px;
}
.top
{
	background:url(guitar.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	width: 100%;
}
.tracks
{
	padding-top: 20px;
	padding-left: 180px;
	font-size: 50px;
}